@using TTSPrep_MVC.Models
@model Chapter

<a class="btn btn-s btn-secondary me-2" asp-controller="Chapter" asp-action="ReturnToChapters" asp-route-projectId=@Model.ProjectId>
    <i class="bi bi-arrow-return-left me-2"></i>Back to project view
</a>

<div class="navbar-container">
</div>
<div class="main-container">
    <section class="space-sm">
        <div class="container">
            <div class="row mb-5">
                <!--end of col-->
            </div>
            <!--end of row-->
            <div class="row flex-md-row card card-md">
                <div class="card-body">
                    <div class="text-center mb-5">
                        <h1 class="h2 mb-2">Add chapter</h1>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 col-lg-5">
                            <form method="post" asp-action="Create" enctype="multipart/form-data">              
                                <input type="hidden" asp-for="Id" />
                                <div class="form-row form-group">
                                    <div class="col">
                                        <label asp-for="Title">Title</label>
                                        <input asp-for="Title" class="form-control form-control mb-3" placeholder="Title" />
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <input asp-for="OrderNumber" hidden class="form-control form-control mb-3" placeholder="OrderNumber" />
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="input-group mb-3">
                                        <textarea asp-for="OriginalText" class="form-control" placeholder="OriginalText" aria-label="With textarea"></textarea>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="input-group mb-3">
                                        <textarea asp-for="ModifiedText" hidden disabled class="form-control" style="height: 0rem" placeholder="ModifiedText" aria-label="With textarea"></textarea>
                                    </div>
                                </div>
                                <input type="hidden" id="ProjectId" name="ProjectId" asp-for="ProjectId" />

                                <div class="form-row form-group">
                                    <div class="col">
                                        <button class="btn btn-block btn-success" type="submit">Create</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
</div>
