@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Home";
}
@* <style>
    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.15));
        background-size: cover;
    }

    h1, btn {
        color: white;
        text-shadow: 2px 2px 20px #000000;
    }
</style> *@

<div class="text-center">
    <h1 class="display-4">TTSPrep</h1>
    <p>TTSPrep is an online text preparation tool to aid text-to-speech (TTS) AI voice generation.</p>
    <a class="btn btn-m btn-primary me-2" asp-controller="Dashboard" asp-action="Index">
        Get Started<i class="bi bi-arrow-right mx-2"></i>
    </a>
    <br />
    <hr />
    <h3>Original text</h3>
    <p>"The connoisseur savored the velvety texture of the Cabernet Sauvignon."</p>
    <audio class="mb-5" controls="controls">
        <source src="https://docs.google.com/uc?export=download&id=1Ywrls1Bc2u0uY2ZcI7uORiDB2lvuJa1w" />
    </audio>
    <h3>Modified text</h3>
    <p>"The <u>connis-sewer</u> savored the velvety texture of the <u>Caberney</u> <u>Sauvinyawn</u>."</p>
    <audio controls="controls">
        <source src="https://docs.google.com/uc?export=download&id=1eHORYn-Cj-K2nSHAKxrlw0pI8g3f-az5" />
    </audio>
    <br />
    <span style="font-size: 75%; opacity: 0.5;">AI voice clips generated using <a href="https://elevenlabs.io/">elevenlabs.io</a>.</span>
</div>
