@using TTSPrep_MVC.Models

@model Project
@{

}

<div class="text-center">
<h1>@Model.Title</h1>
<h2>Chapters (@Model.Chapters.Count())</h2>
    <a class="btn btn-m btn-primary me-2" asp-controller="Chapter" asp-action="Create" asp-route-projectId=@Model.Id>
        <i class="bi bi-plus-lg me-2"></i>Add Chapter
    </a>
    <a class="btn btn-m btn-warning me-2" asp-controller="Word" asp-action="Create" asp-route-projectId=@Model.Id>
        <i class="bi bi-plus-lg me-2"></i>Add Word
    </a>
<hr>
@foreach (var chapter in Model.Chapters)
{
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <a style="text-decoration: none; color: black;" asp-controller="Chapter" asp-action="Edit"
                       asp-route-chapterId="@chapter.Id">
                        @chapter.Title
                    </a>
                </h5>
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <a class="btn btn-s btn-danger me-2" asp-controller="Chapter" asp-action="Delete" asp-route-chapterId=@chapter.Id>
                        <i class="bi bi-x-lg me-2"></i>Remove
                    </a>
                    <a class="btn btn-s btn-primary me-2" asp-controller="Chapter" asp-action="Edit" asp-route-chapterId=@chapter.Id>
                        <i class="bi bi-arrow-right me-2"></i>Open
                    </a>
                </div>
            </div>
        </div>
}
<div/>

